* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33%;
}

.header {
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav {
    display: inline-block;
}

.nav,
.subnav {
    list-style-type: none;
}

.nav>li {
    display: inline-block;
}

.nav li {
    position: relative;
}

.nav>li>a {
    color: white;
    text-transform: uppercase;
    padding: 0 24px;
}

.nav li a {
    text-decoration: none;
    line-height: 50px;
    display: block;
}

.nav li:hover .subnav {
    display: block;
}

.nav>li:hover>a,
.subnav li:hover a {
    color: black;
    background-color: #cccccc;
}

.subnav {
    min-width: 180px;
    top: 100%;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.subnav a {
    color: black;
    padding: 0 12px;
}

.ti-angle-down:before {
    font-size: 12px;
    content: "\e64b";
}

.search-btn {
    float: right;
    line-height: 50px;
    padding: 0 21px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #f44336;
}

.search-icon {
    color: #ffffff;
    font-size: 16px;
}

.slider {
    position: relative;
    margin-top: 50px;
    padding-top: 50%;
    background: url(hinh1.jpg) top center / cover no-repeat;
}

.text-content {
    position: absolute;
    bottom: 45px;
    color: white;
    width: 100%;
    text-align: center;
}

.text-heading {
    font-weight: 500;
    font-size: 24px;
}

.text-description {
    font-size: 15px;
    margin-top: 25px;
}

.content-secction {
    max-width: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

.secction-heading {
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 500;
}

.secction-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
}

.about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

.member-list {
    margin-top: 48px;
}

.member-name {
    font-size: 15px;
}

.member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}

.tour-section {
    background-color: black;
}

.tickets-list {
    background-color: white;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #dddddd;
}

.sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.quantify {
    background-color: black;
    color: white;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.places-list {
    margin-top: 32px;
}

.places-img {
    width: 100%;
    display: block;
}

.places-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 550;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn {
    color: #ffffff;
    background-color: #000000;
    padding: 11px 16px;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
}

.place-buy-btn:hover {
    color: #000000;
    background-color: #cccccc;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.form-control {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #cccccc;
    width: 100%;
}

.form-submit-btn {
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    border: 1px none #000000;
    padding: 10px 16px;
    float: right;
}

.form-submit-btn:hover {
    color: #000000;
    background-color: #cccccc;
    cursor: pointer;
}

.map-secction img {
    width: 100%;
}

.footer {
    padding: 64px 16px;
    text-align: center;
}

.ti-facebook::before,
.ti-instagram::before,
.ti-youtube::before,
.ti-pinterest::before,
.ti-twitter::before,
.ti-linkedin::before {
    content: "";
    font-size: 20px;
}

.socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.copyright a:hover,
.socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.copyright a {
    color: rgba(0, 0, 0, 0.6);
}